<div id="containerFormulaire">
<div class="form-wrapper">
  <h3 class="page-title">Réinitialiser le mot de passe</h3>
  <div id="returnMessage" ng-show="resetPasswordForm.$submitted">{{returnMessage}}</div>

  <form name="resetPasswordForm">

    <div class="form-item" ng-class="{'no-error' : resetPasswordForm.email.$valid}">
      <label for="email"></label>
      <input type="email" required="required" placeholder="Email" ng-model="resetPasswordData.email"></input>
    </div>

    <div class="button-panel">
      <button type="submit" class="button" title="Réinitialiser" ng-model="resetPasswordData.text" ng-click="resetPasswordAction()">Réinitialiser<span ng-show="loading == true"> <i class="glyphicon glyphicon-refresh spinning"></i></span></button>
    </div>

  </form>
  <div class="form-footer">
    <p>
      <a href="#/connexion">Se connecter</a>
    </p>
  </div>
</div>
</div>