<style>

    #leftMenu {
      display: none;
    }

    #rightMenu {
      display: none;
    }

.no-error input,
.no-error input:focus {
  border-bottom: 2px solid #1BB2BD;
}

.error-message {
  text-align:center;
  color:#e85a5a;
  font-size:15px;
  font-weight:bold;
}

.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
</style>

<div id="containerFormulaire">
<div class="form-wrapper">
  <h3 class="page-title">Réinitialiser le mot de passe</h3>
  <div class="error-message" ng-show="resetPasswordForm.$submitted">{{returnMessage}}</div>

  <form name="resetPasswordForm">

    <div class="form-item" ng-class="{'no-error' : resetPasswordForm.email.$valid}">
      <label for="email"></label>
      <input type="email" required="required" placeholder="Email" ng-model="resetPasswordData.email"></input>
    </div>

    <div class="button-panel">
      <button type="submit" class="button" title="Réinitialiser" ng-model="resetPasswordData.text" ng-click="resetPasswordAction()">Réinitialiser<span ng-show="loading == true"> <i class="glyphicon glyphicon-refresh spinning"></i></span></button>
    </div>

  </form>
  <div class="form-footer">
    <p>
      <a href="#/connexion">Se connecter</a>
    </p>
  </div>
</div>
</div>