<!DOCTYPE html>
<html ng-app="website" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeaVR Store</title>

    <!-- BeaVR Core CSS -->
    <link href="assets/css/beavr.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Our CSS -->
    <link href="assets/css/searchbar.css" rel="stylesheet">
    <link href="assets/css/formulaire.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/shop-homepage.css" rel="stylesheet">
    
    <!-- Filtering stuff -->
    <link href="assets/css/isteven-multi-select.css" rel="stylesheet">

    <!-- Loading stuff -->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand-logo pull-left" href="#/">
                  <img class="navbar-brand-logo" src="assets/img/logo/beaver-logo-min.png">
                </a>
                <div class="collapse navbar-collapse" id="nav-collapse" ng-controller="navbarController">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: isActive('/')}"><a href="#/">Accueil</a></li>
                        <li><a href="#/" ng-show="registerDev" data-target="#myModal" data-toggle="modal">Devenir développeur</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="onlineMenu" ng-class="{active: isActive('/feedback')}"><a href="" data-target="#feedbackModal" data-toggle="modal">Feedback</a></li>
                        <li><a href="" ng-show="onlineMenu" ng-click="disconnect()">Se déconnecter</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2" ng-show="menu">
                <div id="onlineMenu" ng-show="onlineMenu">
                    <p id="titleCompteMenu" class="lead">Compte</p>
                    <div id="compteMenu" class="list-group">
                    <a href="#/profile" class="list-group-item"><img ng-src="{{ profilePicture }}" class="img-circle" style="display: block; margin: auto;"></a>
                        <a href="#/profile" class="list-group-item">Mon profil</a>
                        <a href="#/library" class="list-group-item">Bibliothèque</a>
                        <a href="#/progression" class="list-group-item">Progression</a>
                    </div>
                </div>
                <div id="devMenu" ng-show="devMenu">
                    <p id="titleDeveloppementMenu" class="lead">Développement</p>
                    <div id="developpementMenu" class="list-group">
                        <a href="#" class="list-group-item"><img src="assets/img/icons/api.png">Publier une application</a>
                        <a href="#" class="list-group-item"><img src="assets/img/icons/git.png">Gérer vos applications</a>
                    </div>
                </div>
                <div id="offlineMenu" ng-show="offlineMenu">
                    <p id="titleCompteMenu" class="lead">Compte</p>
                    <a href="#/connexion" class="list-group-item">Se connecter</a>
                    <a href="#/inscription" class="list-group-item">S'inscrire</a>
                </div>
            </div>
            <div class="col-md-8 main-column">
                <div ng-view autoscroll="true"></div>
            </div>

            <div id="filterMenu" class="col-md-2" ng-show="filterMenu" ng-controller="filterController">
                <div id="device-list" ng-show="devices !== undefined" class="list-group">
                    <p class="lead">Matériel de RV</p>
                    <div directive-id="multi-select-device" isteven-multi-select input-model="devices" output-model="filteredDevices"
                    button-label="name" item-label="name" tick-property="ticked" helper-elements="filter" max-labels="2"
                    max-height=100px" search-property="name" output-properties="name" translation="localLangDevices" on-item-click="sendFilters()">
                    </div>
                </div>

                <div id="category-list" ng-show="categories !== undefined" class="list-group">
                    <p class="lead">Catégories</p>
                    <div directive-id="multi-select-category" isteven-multi-select input-model="categories" output-model="filteredCategories"
                    button-label="name" item-label="name" tick-property="ticked" helper-elements="filter" max-labels="2"
                    max-height=100px" search-property="name" output-properties="name" translation="localLangCategories" on-item-click="sendFilters()">
                    </div>
                </div>

                <div id="price-list" ng-show="prices !== undefined" class="list-group">
                    <p class="lead">Prix</p>
                    <div directive-id="single-select-price" isteven-multi-select input-model="prices" output-model="filteredPrice"
                    button-label="name" item-label="name" tick-property="ticked" helper-elements="" max-labels="2" selection-mode="single"
                    max-height=100px" output-properties="name priceFilter" translation="localLangPrices" on-item-click="sendFilters()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; BeaVR 2014 - 2016</p>
            </div>
        </div>
    </footer>

    <!-- Angular JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>

    <script src="app/components/main/mainController.js"></script>
    <script src="app/components/inscription/inscriptionController.js"></script>
    <script src="app/components/connexion/connexionController.js"></script>
    <script src="app/components/editProfile/editProfileController.js"></script>
    <script src="app/components/applicationDetail/applicationDetailController.js"></script>
    <script src="app/components/library/libraryController.js"></script>
    <script src="app/components/progression/progressionController.js"></script>
    <script src="app/components/resetPassword/resetPasswordController.js"></script>
    <script src="app/components/404/404Controller.js"></script>
    <script src="app/components/feedback/feedbackController.js"></script>

    <script src="app/components/payment/paymentController.js"></script>
    <script src="app/components/applicationComments/applicationCommentsController.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-1.3.3.min.js"></script>

    <!-- Filtering stuff -->
    <script src="assets/js/isteven-multi-select.js"></script>

    <!-- Upload related -->
    <script src="assets/js/ng-file-upload.min.js"></script>

    <!-- Token related -->
    <script src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <!-- Loading stuff -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>


</body>
 <div id="feedbackModal" ng-controller="feedbackController" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h3 id="myModalLabel">Un problème avec le Store BeaVR ?</h3>
                 <div id="returnMessage" ng-show="feedbackForm.$submitted">{{returnMessage}}</div>
             </div>
             <div class="modal-body">
                 <form id="feedbackForm" name="feedbackForm" role="form" >
                     <div class="form-group">
                         <label for="object">Objet</label>
                         <input type="text" id="object" placeholder="Objet de votre feedback" class="form-control" ng-model="feedbackData.object" required/>
                     </div>
                     <div class="form-group">
                         <label for="message">Message</label>
                         <textarea id="message" style="resize:none" rows="8" placeholder="Détail de votre feedback" class="form-control" ng-model="feedbackData.description" required></textarea>
                     </div>
                     <div class="form-group">
                         <input type="checkbox" id="recontact" class="modal-checkbox" ng-model="feedbackData.recontact"/>
                         <label for="recontact">J'accepte d'être recontacté suite à mon feedback</label>
                         <button type="submit" ng-disabled="feedbackForm.$invalid" class="btn btn-secondary btn-beavr" style="float:right" ng-click="feedbackAction()">Envoyer<span ng-show="loading == true"> <i class="glyphicon glyphicon-refresh spinning"></i></span></button>
                     </div>

                 </form>
             </div>
         </div>
     </div>
 </div>
</html>
