<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
        <h1>Gestion des sauvegardes</h1>
        <hr>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <uib-tabset active="active">
                    <uib-tab index="$index" ng-repeat="application in userAppsInfos" select="updateApp(application)" heading="{{application.name}}" disable="tab.disabled">
                        <div class="row">
                            <div class="col-lg-offset-4 col-lg-4">
                                <h1><a ng-href="#/applications/details/{{ application.id }}">{{application.name}}</a></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ui negative icon message">
                                <i class="remove circle icon"></i>
                                <div class="content">
                                    <div class="header">
                                    Suppression de sauvegarde définitive !
                                    </div>
                                    <p>Réfléchissez bien avant de réinitialiser votre progression.</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="ui indicating progress" progressvalue="40" style="margin-bottom:10px" progress>
                                <div class="bar"></div>
                            </div>
                            <div class="row">
                                <div style="text-align:center">Avancement</div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
      </div>
  </div>
</div>