<style>
#itemConnexion {
  display: none;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Liste des sauvegardes</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Nom de l'application</th>
                                <th>Niveau actuel</th>
                                <th>Pourcentage terminé</th>
                                <th>Date de création</th>
                                <th style="text-align: center;">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Universe l'aventure ne fait que commencer...</td>
                                <td>12</td>
                                <td>52 %</td>
                                <td>12/04/2015</td>
                                <td style="text-align: center;">
                                    <a href="" ng-click="">
                                    <img style="width: 30px;" src="assets/img/icons/delete.png">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
