
<div class="panel panel-default">
  <div class="panel-body">

    <div class="container">
        <h1>Soumettre une application</h1>
        <hr>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        
         <form name="applicationSubmissionForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label" for="applicationName">Nom de l'application :</label>
                <div class="col-lg-8">
                    <input class="form-control" placeholder="Limitation du nombre max de char" id ="applicationName" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="applicationDescription">Description :</label>
                <div class="col-lg-8">
                    <textarea class="form-control" id="applicationDescription" placeholder="Limitation du nombre max de char" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" for="applicationPrice">Prix :</label>
                <div class="col-lg-8">
                    <input class="form-control" id ="applicationPrice" placeholder="Mettre cet input en dernier et les vérifs pour que 0123456789, only" type="text">
                </div>
            </div>
            <select name="skills" multiple maxSelections="3" class="ui fluid dropdown">
  <option value="">Skills</option>
<option value="angular">Angular</option>
<option value="css">CSS</option>
<option value="design">Graphic Design</option>
<option value="ember">Ember</option>
<option value="html">HTML</option>
<option value="ia">Information Architecture</option>
<option value="javascript">Javascript</option>
<option value="mech">Mechanical Engineering</option>
<option value="meteor">Meteor</option>
<option value="node">NodeJS</option>
<option value="plumbing">Plumbing</option>
<option value="python">Python</option>
<option value="rails">Rails</option>
<option value="react">React</option>
<option value="repair">Kitchen Repair</option>
<option value="ruby">Ruby</option>
<option value="ui">UI Design</option>
<option value="ux">User Experience</option>
</select>

            <div class="text-center">
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="uploadLogo">Logo :</label>
                    <div class="input-group col-xs-8 col-xs-offset-2">
                    <input type="text" class="form-control input-md" id="uploadLogo" disabled placeholder="{{ appInfos.logo.$ngfName ? appInfos.logo.$ngfName : 'Uploadez un logo'}}">
                    <span class="input-group-btn">
                        <button type="button" class="browse btn btn-beavr input-md" data-buttonText="Find file" ngf-select ng-model="appInfos.logo" name="logo" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100" ngf-validate="{pattern: '.jpg, .png, .gif'}"
                        ngf-resize="{width: 460, height: 215, centerCrop: true}"><i class="glyphicon glyphicon-picture"></i></button>
                    </span>
                    </div>
                    <div ng-show="applicationSubmissionForm.logo.$error.pattern" class="error-message">Le fichier doit être une image au format JPG, PNG ou GIF.</div>
                    <div ng-show="applicationSubmissionForm.logo.$error.maxSize" class="error-message">La taille du fichier doit être inférieure à 5MB.</div>
                    <img ng-show="applicationSubmissionForm.logo.$valid" ngf-src="!appInfos.logo.$error && appInfos.logo" class="thumb-rec">
                </div>
                <div ng-show="appInfos.logo.result" class="list-group-item list-group-item-success">Upload terminé.</div>
            </div>

            <div class="text-center">
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="uploadScreenshots">Screenshots :</label>
                    <div class="input-group col-xs-8 col-xs-offset-2">
                    <input type="text" class="form-control input-md" id="uploadScreenshots" disabled placeholder="{{ appInfos.screenshots.$ngfName ? appInfos.screenshots.$ngfName : 'Uploadez des screenshots'}}">
                    <span class="input-group-btn">
                        <button type="button" class="browse btn btn-beavr input-md" data-buttonText="Find file" ngf-select="uploadScreenshots($files)" ngf-multiple="true" ngf-max-files ng-model="appInfos.screenshots" name="screenshots" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100" ngf-validate="{pattern: '.jpg, .png, .gif'}"
                        ngf-resize="{width: 460, height: 215, centerCrop: true}"><i class="glyphicon glyphicon-picture"></i></button>
                    </span>
                    </div>
                    <div ng-show="applicationSubmissionForm.screenshots.$error.pattern" class="error-message">Le fichier doit être une image au format JPG, PNG ou GIF.</div>
                    <div ng-show="applicationSubmissionForm.screenshots.$error.maxSize" class="error-message">La taille du fichier doit être inférieure à 5MB.</div>
                    <div ng-show="applicationSubmissionForm.screenshots.$error.maxFiles" class="error-message">Le nombre de screenshots ne peut pas dépasser 3.</div>
                    <img ng-show="applicationSubmissionForm.screenshots.$valid" ngf-src="!appInfos.screenshots.$error && appInfos.screenshots" class="thumb-rec">
                </div>
                <div ng-show="appInfos.screenshots.result" class="list-group-item list-group-item-success">Upload terminé.</div>
            </div>



        </form>

        </div>
      </div>
    </div>
  </div>
</div>
