    <div class="row carousel-holder">

      <h4 class="page-part-title">Applications vedettes</h4>
        <div class="col-md-12">
          <div ng-controller="carouselController">
            <uib-carousel class="carousel slide" active="active" interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img class="slide-image" ng-src="{{slide.image}}">
              </uib-slide>
            </uib-carousel>
          </div>
        </div>
    </div>


    <h4 class="page-part-title">Applications disponibles</h4>
      <div ng-show="filteredApplications.length == 0" class="no-app-available">
        <span>Aucune application ne remplit les critères de recherche.</span>
      </div><div class="ui cards">
      <div id="container" class="card col-sm-4 col-lg-4 col-md-4" ng-repeat="application in filteredApplications">

        <div class="image">
          <img ng-src="{{ application.logo }}" alt="">
        </div>
        <div class="content">
          <span class="right floated app-price">{{ application.price == "0" | iif : "Gratuite" : application.price + "€" }}</span>
          <span class="app-title"><a ng-href="#/applications/details/{{ application.id }}">{{ application.name }}</a></span>
        </div>
    <div class="extra content ratings">
      <span class="right floated">
        <span ng-show="application.noteAvg != null" ng-repeat="t in getNumberFullStar(application.noteAvg) track by $index" ng-class="{'ratings-last-child':$last}" class="glyphicon glyphicon-star"></span>
        <span ng-show="application.noteAvg != null" ng-repeat="t in getNumberEmptyStar(5 - application.noteAvg) track by $index" class="glyphicon glyphicon-star-empty"></span>
      </span>
      <span>
        <a ng-href="#/applications/details/{{ application.id }}/comments">
          <i class="comments outline icon"></i>
          {{ application.commentsNb }}
        </a>
      </span>
    </div>
  </div>
</div>

       <!-- <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <img ng-src="{{ application.logo }}" alt="">
              <div class="caption">
                <h4 class="pull-right">{{ application.price == "0" | iif : "Gratuite" : application.price + "€" }}</h4>
                <h4>
                  
                </h4>
                <p>{{ application.description }}</p>
              </div>
              <div class="ratings">
                  <p class="pull-left">{{ application.commentsNb }} avis</p>
                  <p class="pull-right">
                    <span ng-show="application.noteAvg != null" ng-repeat="t in getNumberFullStar(application.noteAvg) track by $index" ng-class="{'ratings-last-child':$last}" class="glyphicon glyphicon-star"></span>
                    <span ng-show="application.noteAvg != null" ng-repeat="t in getNumberEmptyStar(5 - application.noteAvg) track by $index" class="glyphicon glyphicon-star-empty"></span>
                  </p>
              </div>
          </div>
        </div> -->
