<style>
  .page-part-title {
    font-size:28px;
    font-weight:bold;
  }

 .glyphicon-star,
 .glyphicon-star-empty,
 .ratings {
  color:#32a9ad;
 }

</style>

    <div class="row carousel-holder">

      <h4 class="page-part-title">Applications vedettes</h4>
        <div class="col-md-12">
          <div ng-controller="carouselController">
            <uib-carousel class="carousel slide" active="active" interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img class="slide-image" ng-src="{{slide.image}}">
              </uib-slide>
            </uib-carousel>
          </div>
        </div>
    </div>
  
    <h4 class="page-part-title">Vous aimerez peut-être</h4>
    <div id="container" ng-repeat="application in data">

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{ application.logo }}" alt="">
          <div class="caption">
            <h4 class="pull-right">{{ application.price }}€</h4>
            <h4>
              <a ng-href="#/applications/details/{{ application.idApplications }}">{{ application.name }}</a>
            </h4>
            <p>{{ application.description }}</p>
          </div>
          <div class="ratings">
            <p class="pull-right">2 avis</p>
            <p>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
           </p>
          </div>
      </div>
     </div>
   </div>
