<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="text-center">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Oups :
            <small>Page introuvable - <b>Erreur 404</b></small>
          </h3>
        </div>
        <div class="panel-body">
          <p>La page que vous cherchez a été supprimée, déplacée ou est temporairement indisponible. Merci de bien vouloir essayer les choses suivantes :</p>
          <ul class="list-group">
            <li class="list-group-item">Vérifiez que l'adresse du site affichée dans la barre de recherche de votre navigateur est correcte.</li>
            <li class="list-group-item">Si vous avez rejoint cette page en cliquant sur un lien,
              <a href="" data-target="#feedbackModal" data-toggle="modal" class="animate"><b>contactez nous</b></a> en nous indiquant le lien incriminé.</li>
            <li class="list-group-item">Oubliez que tout ça vient de se passer et retournez sur <a href="#/">notre <b>page d'accueil</b></a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>