/* 
 _______  ________  ______  __     __ _______          ______  ________ ______  _______  ________         ______   ______   ______         ________ ______ __       ________ 
/       \/        |/      \/  |   /  /       \        /      \/        /      \/       \/        |       /      \ /      \ /      \       /        /      /  |     /        |
$$$$$$$  $$$$$$$$//$$$$$$  $$ |   $$ $$$$$$$  |      /$$$$$$  $$$$$$$$/$$$$$$  $$$$$$$  $$$$$$$$/       /$$$$$$  /$$$$$$  /$$$$$$  |      $$$$$$$$/$$$$$$/$$ |     $$$$$$$$/ 
$$ |__$$ $$ |__   $$ |__$$ $$ |   $$ $$ |__$$ |      $$ \__$$/   $$ | $$ |  $$ $$ |__$$ $$ |__          $$ |  $$/$$ \__$$/$$ \__$$/       $$ |__     $$ | $$ |     $$ |__    
$$    $$<$$    |  $$    $$ $$  \ /$$/$$    $$<       $$      \   $$ | $$ |  $$ $$    $$<$$    |         $$ |     $$      \$$      \       $$    |    $$ | $$ |     $$    |   
$$$$$$$  $$$$$/   $$$$$$$$ |$$  /$$/ $$$$$$$  |       $$$$$$  |  $$ | $$ |  $$ $$$$$$$  $$$$$/          $$ |   __ $$$$$$  |$$$$$$  |      $$$$$/     $$ | $$ |     $$$$$/    
$$ |__$$ $$ |_____$$ |  $$ | $$ $$/  $$ |  $$ |      /  \__$$ |  $$ | $$ \__$$ $$ |  $$ $$ |_____       $$ \__/  /  \__$$ /  \__$$ |      $$ |      _$$ |_$$ |_____$$ |_____ 
$$    $$/$$       $$ |  $$ |  $$$/   $$ |  $$ |      $$    $$/   $$ | $$    $$/$$ |  $$ $$       |      $$    $$/$$    $$/$$    $$/       $$ |     / $$   $$       $$       |
$$$$$$$/ $$$$$$$$/$$/   $$/    $/    $$/   $$/        $$$$$$/    $$/   $$$$$$/ $$/   $$/$$$$$$$$/        $$$$$$/  $$$$$$/  $$$$$$/        $$/      $$$$$$/$$$$$$$$/$$$$$$$$/ 
                                                                                                                                                                             
*/

/************************
*************************
* Changes from BOOTSTRAP
*************************
************************/

body {
	background-color: #f1f1f1;
}

.beavr-navbar {
	display: inline-block;
	background-color: white;
	border-top: 5px solid #1BB2BD !important;
	padding-bottom : 5px;
	margin-bottom: 0 !important;
}

.beavr-navbar-menu {
	font-size: 16px;
	margin-top: 6px !important;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.beavr-navbar-menu a {
	transition: color 0.4s ease;
	color: grey;
	outline: 0 !important;
}

.nav a:hover, .nav a:focus {
	background-color: white !important;
	color: #1BB2BD;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: white !important;
	color: #1BB2BD;
}

.beavr-navbar-toggle {
	margin-right: 0 !important;
	background-color: #1BB2BD !important;
}

.beavr-navbar-toggle .icon-bar {
	background-color: white !important;
}

.panel-body {
	background-color: #fafafa !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color:#1BB2BD !important;
  background-color:#222 !important;
}

.caption h4 a {
	color:#32a9ad !important;
}

.caption {
	height:initial !important;
}

#filterMenu {
	margin-top:10px !important;
}

#filterMenu .lead,
#rightMenu .lead {
	font-weight:bold;
}
.main-column {
	margin-bottom:30px;
}

.page-title {
	font-weight:bold;
	color:#1BB2BD;
}

.btn-beavr,
.btn-beavr:focus {
	background-color: #1BB2BD !important;
	color: white !important;
}

.btn-beavr:hover,
.btn-beavr:active {
	background-color: #24777A !important;
	color:white !important;
	text-decoration:none !important;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	position: static !important;
	border-top: solid #d3d3d3;
	border-top-width: 1px;
	background-color: #e9e9e9 !important;
}

.button-panel .button {
  background:#1BB2BD;
}

.button:hover {
  background:#24777A;
}

.form-control-label {
    padding: 0.7rem;
    margin-bottom: 0;
}

/************************
*************************
* General changes
*************************
************************/

.error-message {
text-align:center;
color:#e85a5a;
font-size:15px;
font-weight:bold;
line-height:30px;
}

.success-message {
text-align:center;
color:#1BB2BD;
font-size:15px;
font-weight:bold;
line-height:30px
}

.no-app-available {
  margin: 40px auto 60px auto;
  text-align: center;
  font-size: 22px;
}

.app-title {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px !important;
}

.app-title a {
	font-size:1.2em;
	color:#32a9ad;
}

.app-title a:hover {
	color: #1d9191;
}

.app-price {
	font-size:1.0em;
	line-height:21px;
}

.app-list {
	padding-left:15px !important;
	padding-right:15px !important;
}

.app-list .card {
	margin-left:17px !important;
	margin-right:15px !important;
	margin-top:30px !important;
	margin-bottom:30px !important;
}

.app-list img {
	height:140px !important;
}

/************************
*************************
* Changes from Comments
* and App Details
*************************
************************/

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	max-height:350px !important;
}

.appInfos-card {
	background-color:#f7f7f7 !important;
	width:100% !important;
}

.comment-card {
	width:100% !important;
	margin-bottom:20px !important;
}

.comment-cart .content {
	padding: 15px !important;
}

.comment-title {
	color:#32a9ad !important;
	font-size:1.5em !important;
}

.comment-content {
	min-height:50px;
	font-size:1.1em !important;
}

.comment-card .author {
	font-weight:bold;
	font-size:15px;
	color:#5e5e5e;
}

.comment-card .author .image {
	border:1px solid #32a9ad;
	border-radius:0 !important;
}

.media-body .media-heading {
  color:#32a9ad;
  font-weight:bold;
  font-size:22px !important;
}

.media-body {
	padding:0px 5px 0px 20px !important;
}

.app-rating-main {
	font-size:26px !important;
	margin:0 !important;
}

.cadre-images {
  border:2px solid #32a9ad;
}

.main-profile-picture {
    max-height: 150px;
    max-width: 150px;
    margin: 0 auto;
}

.page-part-title {
  font-size:20px;
  font-weight:bold;
}

.date-publication {
  font-weight:bold;
}

.description-application {
  min-height:75px;
}

.well {
  height:auto !important;
}

.profile-picture {
  max-height:120px;
  max-width:120px;
  margin:0 auto;
}

.left-part-appInfos {
  min-width:150px;
  float:left;
}

.left-part-appInfos img {
	max-width:300px;
}

#app-rating-main button {
	width:100%;
}

.left-part-comment {
    min-width:180px;
    float:left;
}

.ratings a {
	color: #5e5e5e !important;
}

.ratings a:hover {
	text-decoration:underline;
}

.glyphicon-star,
.glyphicon-star-empty,
.ratings {
color:#32a9ad !important;
margin-right: 5px;
min-height: 25px;
text-shadow:none;
}

.ratings-last-child {
margin-right:2px;
}

.app-rating-last-child {
margin-right:2px;
}

.app-rating-first-child {
margin-left:5px;
}

.app-infos {
max-width:120px;
}

.header {
	font-weight:bold;
	font-size:1.7em;
	color:#32a9ad;
	line-height:26px;
}

.comment-header {
display:inline-block;
width:100%;
}

.author-name {
float:right;
line-height:25px;
}

.title-comment {
float:left;
}

.comment-infos,
.app-infos {
max-width:150px;
}

#comment-rating {
/*margin: 10px auto 0  auto;
text-align:center;*/
line-height:30px;
font-size:16px;
}

#app-rating-main {
margin: 10px auto 0  auto;
text-align:center;
font-size:22px;
}

#app-rating .glyphicon {
font-size:15px;
line-height:22px;
vertical-align:middle;
}

.back-app-link {
    float:right;
    font-size:15px;
	color:#32a9ad;
}

.back-app-link:hover {
	color:#219c9e;
}

#comments-section {
width:100%;
margin-top:10px;
}

#pagination {
text-align:center;
font-size:15px;
}

#pagination a {
color: #32a9ad;
background-color: #f5f5f5;
border: 1px solid #32a9ad;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
color:white !important;
background-color: #32a9ad !important;
}

.selectedFilter {
color:#32a9ad;
font-weight:bold;
}

.btn-filter:focus,
.btn-filter:active,
.btn-filter:hover,
.btn-filter {
border: 1px solid #32a9ad;
background-color: #f5f5f5;
}

#filter-dropdown {
margin-bottom:10px;
text-align:right;
}

#addCommentForm {
padding:20px;
}

#addCommentForm .form-group:last-child {
text-align:right;
margin-bottom: 0px;
}

.clear-rating {
opacity:0;
padding-right:0px !important;
width:10px;
}

.rating-container .filled-stars {
-webkit-text-stroke: 0px !important;
}

.left-part-comment,
.left-part-appInfos {
  min-width:180px;
  float:left;
}

.app-rating-main-last-child {
margin-right:0px;
}


#under-comments {
text-align:center;
margin: 30px auto 50px auto;
}

/************************
*************************
* Index
*************************
************************/

.modal-checkbox {
    float: left;
    margin-right: 5px !important;
}


#device-list #multi-select-device,
#category-list #multi-select-category,
#price-list #single-select-price {
    width:100%;
}

#device-list .multiSelect .multiSelectItem,
#category-list .multiSelect .multiSelectItem,
#price-list .multiSelect .multiSelectItem {
    min-width:100%;
}

/*  
#device-list .multiSelect .checkboxLayer,
#category-list .multiSelect .checkboxLayer,
#price-list .multiSelect .checkboxLayer {
    position:relative;
}*/

.checkboxLayer {
	width:100%;
}

.dimmer-app-list-container .row {
	margin:5px 0 0 0;
	width:100%;
	font-size:13px;
	text-align:left;
}

.list-group {
	padding: 0px !important;
	margin: 0 15px;
}

.sub-content {
	font-size:0.9em;
}

.banner {
	width: 100vw;
	margin-bottom: 1%;
}

.banner-content {
	padding: 86px 0;
}

.banner-content h2 {
	color: white; text-shadow: 1px 1px 1px #1BB2BD
}

.banner-content span {
	color: white;
	background: #1BB2BD;
	font-weight: 600;
	border-radius: 2px;
	padding: 5px 10px 5px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.banner-content p {
	color: #fefefe;
	text-shadow: 1px 1px 1px #1BB2BD;
}

/************************
*************************
* Connexion and Inscription
*************************
************************/

.no-error input,
.no-error input:focus {
  border-bottom: 2px solid #1BB2BD;
}

.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.animate-switch.ng-animate {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}
.animate-switch.ng-leave,
.animate-switch.ng-leave.ng-leave-active{
  display:none;
}
.animate-switch.ng-enter {
  opacity: 0;
}
.animate-switch.ng-enter.ng-enter-active {
  opacity:1;
}

.auth-header {
	color: #1BB2BD !important;
}

/************************
*************************
* Library
*************************
************************/
@media (min-width:500px) {
	.application-area {
		height: 350px;
	}
}

@media (max-width:500px) {
	.application-area {
		margin-bottom: 50px;
	}
}

.application-name {
	font-weight: bold;
	text-align: center;
}

.btn-launch-application {
  text-align: center;
}

/* WEBKIT ONLY */
.library-app-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
}

/************************
*************************
* Edit Profile
*************************
************************/

.avatar {
  width: 150px;
  height: 150px;
}

.thumb {
    width: 30px;
    height: 30px;
    float: none;
    position: relative;
    top: 7px;
}

.categories {
	padding-left: 1em;
	padding-right: 1em;
}

/************************
*************************
* Feedback
*************************
************************/

@media (min-width:500px) {
	.feedback-button {
		float: right;
	}
}

/************************
*************************
* Context Menu
*************************
************************/

#main-dropdown {
	margin-right:-10px;
}

#main-dropdown .dropdown {
	 width:250px;
	 text-align:left;
}

#main-dropdown img {
	width:30px;
	margin-left:5px;
}

#main-dropdown .dropdown-menu {
	width:100%;
	font-size:13px;
}

#main-dropdown .dropdown-menu a {
	padding: 3px 15px;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdownn {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;    
}
.dropdown-menuu>li>a {
    color:#428bca;
}
.dropdownn ul.dropdown-menuu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdownn ul.dropdown-menuu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdownn ul.dropdown-menuu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}