<style>
.no-error input,
.no-error input:focus {
  border-bottom: 2px solid #1BB2BD;
}

.error-message {
  text-align:center;
  color:#e85a5a;
  font-size:15px;
  font-weight:bold;
}

.glyphicon.spinning {
    animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
</style>


<div id="containerFormulaire">
<div class="form-wrapper">
  <h3 class="page-title">Inscription</h3>
  <div class="error-message" ng-show="inscriptionForm.$submitted">{{returnMessage}}</div>

  <form name="inscriptionForm">

    <div class="form-item" ng-class="{'no-error' : inscriptionForm.email.$valid}">
      <label for="email"></label>
      <input type="email" required="required" placeholder="Email" ng-model="inscriptionData.email"></input>
    </div>

    <div class="form-item" ng-class="{'no-error' : inscriptionForm.pseudo.$valid}">
      <label for="pseudo"></label>
      <input type="text" name="pseudo" required="required" ng-minlength="3" ng-maxlength="16" placeholder="Pseudo" ng-model="inscriptionData.pseudo"></input>
      <div ng-messages="inscriptionForm.pseudo.$error">
        <div ng-message="minlength">Le pseudo doit être composé de 3 caractères minimum.</div>
        <div ng-message="maxlength">Le pseudo doit être composé de 16 caractères maximum.</div>
      </div>
    </div>

    <div class="form-item" ng-class="{'no-error' : inscriptionForm.password.$valid}">
      <label for="password"></label>
      <input type="password" name="password" required="required" placeholder="Mot de passe" ng-minlength="8" ng-model="inscriptionData.password"></input>
      <div ng-messages="inscriptionForm.password.$error">
        <div ng-message="minlength">Le mot de passe doit être composé de 8 caractères minimum.</div>
      </div>
    </div>

    <div class="button-panel">
      <button type="submit" class="button" title="Inscription" ng-model="inscriptionData.text" ng-click="inscriptionAction()">S'inscrire<span ng-show="loading == true"> <i class="glyphicon glyphicon-refresh spinning"></i></span></button>
    </div>

  </form>
  <div class="form-footer">
    <p>
    <a href="#/connexion">Se connecter</a>
    </p>
  </div>
</div>
</div>
