<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="panel panel-default">
  <div class="panel-body">
  <h4 class="media-heading page-part-title">Informations</h4>
  <br />
  <div id="container">
    <div class="container">
      <!--<div class="alert alert-success alert-dismissable" ng-hide="applicationIsOwned">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-info"></i>
        Cette application est déjà dans votre bibliothèque
      </div>-->


    <div class="ui raised card appInfos-card">
      <div class="content">
        <div class="left-part-appInfos">
            <img class="media-object cadre-images main-profile-picture" ng-src="{{ appInfos.logo }}">
            <div id="app-rating-main">
              <button type="button" class="btn btn-secondary btn-beavr btn-lg">Acheter</button>
            </div>
        </div>
        <div class="media-body">
          <span class="right floated">  
            <div id="app-rating-main" class="app-rating-main">
              <span ng-show="appInfos.noteAvg != null" ng-repeat="t in getNumberFullStar(appInfos.noteAvg) track by $index" ng-class="{'app-rating-main-last-child':$last}" class="glyphicon glyphicon-star"></span>
              <span ng-show="appInfos.noteAvg != null" ng-repeat="t in getNumberEmptyStar(5 - appInfos.noteAvg) track by $index" class="glyphicon glyphicon-star-empty"></span>
            </div>
          </span>
          <div class="header">{{ appInfos.name }}</div>
          <br>
          <div class="description-application comment-content">
            <p>{{ appInfos.description }}</p>
          </div>
          <br>
          <span class="right floated"><i class="glyphicon glyphicon-calendar"></i> Date de publication : {{ appInfos.created_at | date:'dd/MM/yyyy'}}</span><br>
          <span class="right floated"><i class="glyphicon glyphicon-user"></i> Développeur : {{ appInfos.author.public.pseudo }}</span><br>
            <span class="right floated"><b>Tags :</b> <i>
              <span ng-repeat="device in appInfos.devicesName">{{device.name}}{{$last ? '' : ', '}}</span>
              <span ng-show="appInfos.categoriesName.length">, </span>
              <span ng-repeat="categorie in appInfos.categoriesName">{{categorie.name}}{{$last ? '' : ', '}}</span></i></span>
        </div>
      </div>
    </div>

<!--
              <span ng-if="paymentType" class="animate-if">
                  <p class="text-right">
                    <button type="button" class="btn btn-secondary btn-beavr btn-lg" ng-click="checkPriceAction()" ng-show="isConnected">Gratuit</button>
                  </p>
              </span>
              <span ng-if="!paymentType" class="animate-if">
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="napsters.desmars@gmail.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="{{ appInfos.name }}">
                <input type="hidden" name="amount" value="{{ appInfos.price }}">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="tax_rate" value="0.00">
                <input type="hidden" name="shipping" value="0.00">
                <input type="hidden" value="http://beavr-store.herokuapp.com/#/payment" name="return">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                <p class="text-right">
                  <input type="image" src="https://www.paypalobjects.com/fr_FR/i/btn/btn_buynow_LG.gif?akam_redir=1" border="0" name="submit" alt="" value="Payer" ng-show="isConnected">
                </p>
                <p class="text-right">Seulement {{ appInfos.price }}€</p>
                </form>
              </span>
-->

  <div id="appScreenshots" ng-show="appInfosScreenshots.length > 0">
    <br />
    <h4 class="media-heading page-part-title">Aperçu de l'application</h4>
    <br />
    <div class="col-md-12">
      <uib-carousel class="carousel slide" active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="screen in appInfosScreenshots track by screen.id" index="screen.id">
          <img class="slide-image" ng-src="{{screen.image}}">
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>
</div>

<div id="comments-section">
  <h3 style="font-size:1.6em;">{{ appInfos.commentsNb > 0 ? 'Commentaires' : 'Aucun commentaire pour cette application' }}</h3>
  <div id="container" ng-repeat="commentInfos in comments">

    <div class="ui raised card comment-card">
      <div class="content">
       <span class="right floated time"><i class="glyphicon glyphicon-calendar"></i> {{ commentInfos.created_at | date:'dd/MM/yyyy HH:mm' : '+0200'}}</span>
       <div class="header comment-title">{{ commentInfos.title }}</div>
       <br>
        <div class="description comment-content">
          <p>{{ commentInfos.comment }}</p>
        </div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <img class="ui avatar image" ng-src="{{ commentInfos.author.public.picture }}"> {{commentInfos.author.public.pseudo == null ? 'Anonyme' : commentInfos.author.public.pseudo}}
        </div>
        <div id="comment-rating">
          <span ng-show="commentInfos.rating != null" ng-repeat="t in getNumberFullStar(commentInfos.rating) track by $index" ng-class="{'ratings-last-child':$last}" class="glyphicon glyphicon-star"></span>
          <span ng-show="commentInfos.rating != null" ng-repeat="t in getNumberEmptyStar(5 - commentInfos.rating) track by $index" class="glyphicon glyphicon-star-empty"></span>
        </div> 
      </div>
    </div>

  </div>
  <div id="under-comments">
    <a ng-href="#/applications/details/{{ appInfos.id }}/comments" class="btn-beavr btn-lg">{{ appInfos.commentsNb > 0 ? 'En voir plus (' + appInfos.commentsNb + ' avis)' : 'Poster un commentaire' }}</a>
  </div>
</div>
