<style>

.media-body .media-heading {
  color:#32a9ad;
  font-weight:bold;
  font-size:22px;
}

.cadre-images {
  border:2px solid #32a9ad;
}

.page-part-title {
  font-size:20px;
  font-weight:bold;
}

.date-publication {
  font-weight:bold;
}

.description-application {
  font-size:14px;
}

.well {
  height:auto;
}

.profile-picture {
  max-height:150px;
  max-width:150px;
  margin:0 auto;
}

.left-part-comment,
.left-part-appInfos {
  min-width:180px;
  float:left;
}

.comment-header {
  display:inline-block;
  width:100%;
}

.author-name {
  float:right;
  line-height:25px;
}

.title-comment {
  float:left;
}

 .glyphicon-star,
 .glyphicon-star-empty,
 .ratings {
    color:#32a9ad;
    margin-right: 5px;
    min-height: 25px;
  }

  .ratings-last-child {
    margin-right:1px;
  }

  .app-rating-last-child {
    margin-right:-3px;
  }

  .comment-infos,
  .app-infos {
    max-width:150px;
  }

  #comment-rating {
    margin: 10px auto 0  auto;
    text-align:center;
    font-size:15px;
  }

  #app-rating {
    margin: 10px auto 0  auto;
    text-align:center;
    font-size:22px;
  }

</style>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
  <div class="panel panel-default">

  <div class="panel-body">

  <h4 class="media-heading page-part-title">Informations</h4>
  <br />
    
    <div id="container">
    <div class="container">
      <div class="well">
          <div class="media">
            <div class="left-part-appInfos">
              <div class="app-infos">
                <img class="media-object cadre-images profile-picture" ng-src="{{ appInfos.logo }}" style="width: 150px; height: 150px;">
                <div id="app-rating">
                    <span ng-show="appInfos.avgRating != null" ng-repeat="t in getRating(appInfos.avgRating) track by $index" ng-class="{'app-rating-last-child':$last}" class="glyphicon glyphicon-star"></span>
                    <span ng-show="appInfos.avgRating != null" ng-repeat="t in getRating(5 - appInfos.avgRating) track by $index" class="glyphicon glyphicon-star-empty"></span>
                </div>
              </div>
      		  </div>
      		<div class="media-body">
        		<h4 class="media-heading">{{appInfos.name }}</h4>
              <p class="text-right date-publication">Publiée le : {{appInfos.creationDate | date:'dd/MM/yyyy'}}</p>
              <p class="description-application">
                {{ appInfos.description }}
              </p>
              <p class="text-left"><b>Développée par :</b> {{ appInfos.authorName }}</p>

              <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZPQUF3AFKYDUC">
                <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
              </form>-->

             <p class="text-right"><button type="button" class="btn btn-secondary btn-beavr btn-lg">{{ appInfos.price }}€</button></p>
           </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <h4 class="media-heading page-part-title">Images de l'application</h4>
  <br />

  <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="assets/img/carrousel/img4.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="assets/img/carrousel/img5.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="assets/img/carrousel/img6.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>

  </div>
</div>

  <h3>Commentaires</h3>
  <div id="container" ng-repeat="commentInfos in comments">
  <div class="container">
    <div class="well">
        <div class="media">
          <div class="left-part-comment">
            <div class="comment-infos">
              <img class="media-object cadre-images profile-picture" ng-src="{{ commentInfos.profilePicture }}">
              <div id="comment-rating">
                  <span ng-show="commentInfos.rating != null" ng-repeat="t in getRating(commentInfos.rating) track by $index" ng-class="{'ratings-last-child':$last}" class="glyphicon glyphicon-star"></span>
                  <span ng-show="commentInfos.rating != null" ng-repeat="t in getRating(5 - commentInfos.rating) track by $index" class="glyphicon glyphicon-star-empty"></span>
              </div>
            </div>
          </div>
    		<div class="media-body">
          <div class="comment-header">
      		  <h4 class="media-heading title-comment"> {{ commentInfos.title }}</h4>
            <p class="text-right author-name">Par <span style="font-weight:bold">{{commentInfos.pseudo == null ? 'Anonyme' : commentInfos.pseudo}}</span></p>
          </div>
            <p>
              {{ commentInfos.comment }}
            </p>
            <ul class="list-inline list-unstyled">
    			       <li><span><i class="glyphicon glyphicon-calendar"></i> {{ commentInfos.date | date:'dd/MM/yyyy'}}</span></li>
    			 </ul>
         </div>
      </div>
    </div>
  </div>
</div>
